<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial 'head' %>
    <meta property="og:site_name"   content="Hanami"/>
    <meta property="og:title"       content="<%= article_title(current_page) %>">
    <meta property="og:url"         content="<%= absolute_url(current_page) %>">
    <meta property="og:description" content="<%= article_summary(current_page) %>">
    <meta property="og:image"       content="<%= absolute_url(article_image_url(current_page)) %>">

    <meta name="twitter:card"        content="summary_large_image">
    <meta name="twitter:site"        content="@hanamirb">
    <meta name="twitter:creator"     content="@hanamirb">
    <meta name="twitter:url"         content="<%= absolute_url(current_page) %>">
    <meta name="twitter:title"       content="<%= article_title(current_page) %>">
    <meta name="twitter:description" content="<%= article_summary(current_page) %>">
    <meta name="twitter:image:src"   content="<%= absolute_url(article_image_url(current_page)) %>">
  </head>

  <body>
    <%= partial 'navbar' %>

    <div class="container">
      <div class="block block-inverse text-center">
        <div class="block-foreground">
          <h1 class="block-title"><%= article_title(current_page) %></h1>
          <h4 class="text-muted">Posted by <strong><%= article_author(current_page) %></strong> on <em><%= article_date(current_page) %></em></h4>
        </div>
        <div class="block-background">
          <%= article_image(current_page) %>
        </div>
      </div>

      <div class="container container-article">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-1">
            <p class="lead"><%= article_summary(current_page) %></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-md-9 col-md-offset-1">
            <div class="article-body">
              <%= current_page.body %>
            </div>

            <br>
            <br>
          </div>
        </div>
      </div>
    </div>

    <%= partial 'footer' %>
  </body>
</html>
