<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial 'head' %>
  </head>
  <body>
    <%= partial 'navbar' %>

    <div class="block app-block-intro">
      <div class="container text-center">
        <h1 id="brand-name" class="block-title m-b-sm text-uppercase brand-name">Hanami</h1>
        <p id="motto" class="lead m-b-lg p-b-md">A flexible framework for maintainable Ruby apps</p>
        <div class="app-block-cta">
          <a href="#install" class="btn btn-primary m-t">Install v<%= hanami_version %></a>
          <a href="https://guides.hanamirb.org/getting-started" target="_blank" class="btn btn-default btn-outline m-t">Getting Started</a>
          <p class="hanami-release-date">
            <em>Released on <%= hanami_release_date %></em>
          </p>
        </div>
        <img src="/images/home-background.jpg">
      </div>
    </div>

    <div class="block block-bordered-lg block-overflow-hidden p-b-0 app-block-design">
      <div class="container">
        <div class="row pos-r">
          <div>
            <p class="lead">
              Hanami is a Ruby framework designed to help you create software that is well-architected, maintainable and a pleasure to work on.
            </p>
            <div class="container">
              <div class="row">
                <div>
                  <div class="callout">
                    <div class="callout-content">
                      <strong>Build your first application now.</strong> It will take you only a few minutes to learn how to do it.
                    </div>

                    <div class="callout-secondary">
                      <a href="https://guides.hanamirb.org/v2.2/introduction/getting-started/" class="btn btn-sm btn-primary" target="_blank">Get started</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h2>Our community values</h2>
            <p class="lead">
              <strong>We want you to have a great time in the Hanami community!</strong>
              We welcome people of all backgrounds, genders and experience levels, and respect you all equally.
            </p>
            <p class="lead">
              <strong>We do not tolerate</strong> nazis, transphobes, racists, or any kind of bigotry. See our <a href="/community#code-of-conduct">code of conduct</a> for more.
            </p>
          </div>
        </div>
      </div>
    </div>

    <%#= partial 'mailing_list' %>
    <%= partial 'footer' %>
  </body>
</html>
