<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial 'head' %>
  </head>
  <body>
    <%= partial 'navbar' %>

    <div class="block app-block-intro">
      <div class="container text-center">
        <h1 id="brand-name" class="block-title m-b-sm text-uppercase brand-name">Hanami</h1>
        <p id="motto" class="lead m-b-lg p-b-md">The web, with simplicity</p>
        <div class="app-block-cta">
          <a href="#install" class="btn btn-primary m-t">Install v<%= hanami_version %></a>
          <a href="https://guides.hanamirb.org/getting-started" target="_blank" class="btn btn-default btn-outline m-t">Getting Started</a>
          <p class="hanami-release-date">
            <em>Released on <%= hanami_release_date %></em>
          </p>
        </div>
        <img src="/images/home-background.jpg">
      </div>
    </div>

    <div class="block block-bordered-lg block-overflow-hidden p-b-0 app-block-design">
      <div class="container">
        <div class="row pos-r">
          <div class="col-sm-7">
            <a name="install"></a>
            <p class="lead">
              Download, Develop, Deploy in 5 minutes.
            </p>
            <div class="container">
              <div class="row download-develop-deploy">
                <div>
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#download" aria-controls="download" role="tab" data-toggle="tab">Download</a></li>
                    <li role="presentation"><a href="#develop" aria-controls="develop" role="tab" data-toggle="tab">Develop</a></li>
                    <li role="presentation"><a href="#deploy" aria-controls="deploy" role="tab" data-toggle="tab">Deploy</a></li>
                  </ul>

                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="download">
                      <pre class="language-ruby plaintext"><code>
<span class="command">% gem install hanami</span>
Successfully installed hanami-<%= hanami_version %>
3 gems installed
<br>
<span class="command">% hanami new bookshelf</span>
Created bookshelf/
-> Within bookshelf/
-> # ...
-> Running Bundler install...
-> Running NPM install...
-> Running Hanami install...
                      </code></pre>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="develop">
                      <pre class="language-ruby plaintext"><code>
<span class="command">% git init . &amp;&amp; git add . &amp;&amp; git commit -m "Initial commit"</span>
[main (root-commit) 629fc96] Initial commit
33 files changed, 1430 insertions(+)
                      </code></pre>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="deploy">
                      <pre class="language-ruby plaintext"><code><span class="command">% heroku apps:create</span>
Creating app... done, ⬢ Creating cherry-blossom-1234
https://cherry-blossom-1234.herokuapp.com/ | https://git.heroku.com/cherry-blossom-1234.git
<br>
<span class="command">% git push heroku main</span>
# ...
remote: Verifying deploy... done.
To https://git.heroku.com/cherry-blossom-1234.git
 * [new branch]      main -&gt; main
<br>
<span class="command">% heroku open</span>
Opening cherry-blossom-1234... done
                      </code></pre>
                    </div>
                  </div>

                  <div class="callout">
                    <div class="callout-content">
                      <strong>Build your first application now.</strong> It will take you only a few minutes to learn how to do it.
                    </div>

                    <div class="callout-secondary">
                      <a href="https://guides.hanamirb.org/getting-started" class="btn btn-sm btn-primary" target="_blank">Get started</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%#= partial 'mailing_list' %>
    <%= partial 'footer' %>
  </body>
</html>
